.breadcrumbsContainer {
  border: 3px solid green;
  width: 100%;
  height: 8.7vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.breadcrumbsInner {
  width: 100%;
  height: 100%;
  border: 2px solid blue;
  box-sizing: border-box;
}
.profileNotificationContainer {
  width: 20%;
  height: 100%;
  border: 2px solid violet;
  box-sizing: border-box;
}
